 
   
   <!--  Menu  -->
  
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #212D40"> 
        <div class="container-fluid">
        <div class="foto-log">
            <a class="navbar-brand link-logo" href="#"><img class="foto-logo" src="assets/img/logo.png"/></a>       
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Jogos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatos</a>
          </li>
          <li class="nav-item">
            <a routerLink="contato" class="nav-link">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   
   
   <!-- // CARROSEL PARA ANGULAR // -->
   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/banner_homem.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/banner_xadrez.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/banner.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    
   <!-- // FIM // -->

    <div class="game">
        <div class="container-grid posicao-texto">
            <div class="texto-game">
                <h1>Games</h1>
                <p>Diversão e engajamento em games e simulares gitais</p>
                <!-- <p>games e simuladores gitais</p> -->
                <a href="">Saiba Mais</a>
            </div>
        </div>
    </div>

    <!-- <p>Professora Jessica não tenho esta seção jogos no Figma, mas inseri para acompanhar aula</p> -->

    <section class="secao-jogos">
        <div class="jogos container">
            <a href=""><img src="assets/img/J1.png"></a>
            <a href=""><img src="assets/img/J2.png"></a>
            <a href=""><img src="assets/img/J4.png"></a>
        </div>
    </section>

    <!-- <p>Professora Jessica inseri esta seção que duplicação do meu Banner para acompanhar aula</p> -->

    <section class="secao-banner2">
        <div class="conteudo-banner2 container">
            <div class="row alinhar-centro">
                <div class="container-imagem col-md-6">
                    <img class="joistick" src="assets/img/join.png" alt="imagem do joistick">
                </div>
                <div class="texto-banner2 col-md-6">
                    <h2>JOGOS</h2>
                    <p>EMPRESARIAIS, Você sabe o que são?</p>
                </div>
            </div>  
        </div> 
    </section>

    <footer>
        <div class="rodape container">
            <h1 class= "lj"><b>LJ</b>  Jogos de Empresas</h1>
            <div class="links-footer">
                <div class="links">
                    <h2>Links Úteis</h2>
                    <ul>
                        <li><a href="#">Regras de Utilização</a></li>
                        <li><a href="#">Suporte</a></li>
                        <li><a href="#">Central de Ajuda</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h2>Páginas</h2>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Empresas</a></li>
                        <li><a href="#">Clientes</a></li>
                        <li><a href="#">Jogos</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Login/Cadastro</a></li>
                    </ul>
                </div> 
            </div>
           
            <img class="logo-rodape"src="assets/img/logo.png" alt="Logo LJ">
            <div class="sociais">
                <h2>Faça parte do nosso clan, assine nossa newsletter!</h2>
                <form action="">
                    <input id="campo-email" type="email" placeholder="E-mail" required>
                    <button class="botaocadastrar">Cadastrar</button> 
                </form>
                <div class="siga-nos">
                    <h2>Siga-nos em:</h2>
                    <a href=""><img src="assets/img/logo-instagram.png" alt="Logo do Instagram"></a>
                    <a href=""><img src="assets/img/logo-face.png" alt="Logo do Face"></a>
                    <a href=""><img src="assets/img/logo-yt.png" alt="Logo do Instagram"></a> 
                </div>
            </div>
        </div>
    </footer>
    
   