<!-- <p>contatos works!</p>
Trazer html os site
Angular - Aula 24/02/2022  -->

<header>
    <div class="logotipo">     
        <a href="index.html"><img class="logotipo" src="assets/img/logo.png" alt="Logo do site"></a>
     </div>
</header>

<form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="email"> Email: </label>
    <input type="email" id="email" name="email" [(ngModel)]="userModel.email">

    <label for="password"> password: </label>
    <input type="password" id="password" name="password" [(ngModel)]="userModel.password">
  
    <button type="submit">Enviar</button>

    <!-- <a routerLink="/">Home</a> -->

</form> 

<a routerLink="/">Home</a>




    <!-- <<div class="container">
               <div class="wrapper">
         
            <form action="" class="form-container">
                <h1>Login</h1>
                <section class="input-area">
                <div class="input-form">
                    <i class="fas fa-user"></i>
                    <input type="email" name="email" id="email">
                 
                </div>
                <div class="input-form">
                    <i class="fas fa-lock"></i>
                 //  <<input type="senha" name="senha" id="senha"> 
                   
                </div>

                </section>
                
                <div class="divider"></div>
                <section class="area-validacao">
                    <ul>
                        <li id="maiusculas">
                            <span>
                                <i class="fas fa-circle"></i>   
                            </span>
                            A senha deve conter maiúsculas/minúsculas;</li>
                        <li id="numeros">
                            <span>
                                <i class="fas fa-circle"></i>   
                            </span>
                            A senha deve conter números;</li>
                        <li id="especiais">
                            <span>
                                <i class="fas fa-circle"></i>   
                            </span>
                            A senha deve conter caracteres especiais;</li>
                        <li id="caracteres">
                            <span>
                                <i class="fas fa-circle"></i>   
                            </span>
                            Conter no mínimo oito caracteres.</li>
                    </ul>
                </section>

            <input type="submit" value="Fazer Login" class="btn" id="submit-button" disabled>

            <a href="">Ainda não é cadastrado?<br>Cadastre-se</a>

            </form>
        </div>
    </div>  -->
