/* CSS pagina login */

:root{
    --color-green: #00FF99;
    --color-purple: rgb(197, 83, 188);
    --color-input-text: #233;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: url(../img/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: #212D40;
    height: 90px;
}
.logotipo{
    width: 300px;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
.wrapper{
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 450px;
    padding: 30px;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}
.wrapper a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 15px;
}
form h1{
    font-weight: 700;
    margin-bottom: 15px;
}
form.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divider{
    border: 1px solid white;
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}
form .input-form{
    width: 350px;
    background: white;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 15% 85%;
}
form .input-form i{
    color: var(--color-input-text);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .input-form input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-input-text);
    padding-right: 20px;
}
section.area-validacao{
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
}
section ul{
    list-style: none;
}
section ul li{
    font-size: 15px;
}
section ul li span{
    margin: 15px;
}
section ul li.active{
    color: var(--color-input-text) 
}
input.btn{
    outline: none;
    width: 350px;
    border-radius: 10px;
    height: 56px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: var(--color-purple);
    transition: all 0.2s;
}
input.btn:hover{
    filter: brightness(90%);
}
input.btn:disabled{
    background: lightgray; 
    cursor: auto;
}
input.btn:disabled:hover{
    filter: brightness(100%)
}
@media screen and (max-width: 1200px){
.logotipo{
    width: 180px;
}
}
@media screen and (max-width: 768px){
.logotipo{
    width: 180px;
}
}